include mixins/messages

doctype html
html(lang="ko")
    head
        title #{pageTitle} ㅣ #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        if messages.error
            +message("error", messages.error)
        if messages.info
            +message("info", messages.info)
        include partials/header.pug
        main
            block content

        include partials/footer.pug
    script(src="/static/js/main.js")
    block scripts
        script(src="/static/js/main.js")